/* Header.module.css */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  /* overflow-x: hidden; 横スクロール防止 */
}

h1 {
  position: relative;
  margin: 0;
  line-height: 1.5;
  z-index: 1000;
}

.homelink {
  text-decoration: none;
  color: inherit;
}

.h3 {
  margin: 0;
  font-size: 15px;
  line-height: 3;
  margin-right: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: yellow;
  color: black;
  z-index: 1000;
  position: relative;
  /* font-size: 20px; */
}

.left {
  display: flex;
  /* align-items: center; */
  gap: 15px; /* h1とボタンの間隔 */
}

.button {
  width: 50px;
  margin-left: 10px;
  background: none;
  border: none;
  outline: none;
  z-index: 100;
}

.line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #333;
  margin: 10px 0; /* 線と線の間にスペースを作る */
  transition: all 0.3s ease; /* アニメーション用 */
}

.line1{
  transform: translateY(13px) rotate(45deg);
}

.line2{
  opacity: 0;
}

.line3{
  transform: translateY(-13px) rotate(-45deg);
}

.menuContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 120vh;
  background-color: rgba(255, 255, 133, 0.55);
  /* display: flex; */
  flex-direction: column;
  margin-top: 3rem;

  transform: translateX(-200px);
  transition: transform 0.3s ease;
  z-index: 3;

}

.menuContentOpen{
  display: absolute;
  text-align: center;
  transform: translateX(0);
  margin-top: 3rem;
}

nav {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  /* padding: 1rem; */
}

.menuLink {
  height: 4rem;
  display: flex;
  gap: 2rem;
  /* gap: 2rem; */
  color: rgba(0, 0, 0, 0.563);
  font-size: 1.3rem;
  text-decoration: none;
  border-bottom: 1px solid rgb(183, 183, 183);
  align-items: center;
  justify-content: center;
}

.menuLink:hover {
  background-color: #faf29f;
  text-decoration: underline;
}