.borderedtable {
  border-collapse: collapse;
}

.borderedtable th {
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: #ffed22;
}

.borderedtable th,
.borderedtable td {
  border: 0.1rem solid #000000;
  padding: 0.5rem;
}

.tablerow {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  justify-content: space-between;
  gap: 0.5rem;
}

.rowprefix {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.icons {
  height: 3rem;
  width: 3rem;
}

.votecount {
  border: 0.1rem solid #000;
  text-align: center;
  width: 2rem;
  height: 1.5rem;
  background-color: #fffdc2;
}
