html, body, #root{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.container{
    /* min-height: 100rem; */
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.contentGroup{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;
}